.friend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.friend-list li {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px; /* Add margin-right to create spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
