.homepage-container {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: flex-start; /* Align children to the start vertically */
  gap: 20px; /* Space between children */
  padding: 20px;
}

.left-sidebar, .right-sidebar {
  flex: 1; /* Sidebars take up the remaining space equally */
  padding: 10px;
  border: 1px solid #ccc; /* Visual distinction, adjust as needed */
  height: 400px; /* Adjust based on the height of the map for alignment */
}
.left-sidebar h2, .right-sidebar h2, .left-sidebar h3 {
  text-align: center; /* Center the text horizontally */
}
.left-sidebar h2 {
  font-size: 40px;
}
.left-sidebar h3 {
  font-size: 25px;
}
.map-container {
  flex-basis: 50.33%; /* Takes up a third of the parent container's width */
  height: 400px; /* Adjust height as needed */
}

.ride-request-buttons {
  margin-top: 20px;
  text-align: center;

}

.request-button, .cancel-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  justify-content: center;
}

.request-button {
  background-color: #4CAF50; /* Green, adjust as needed */
}

.cancel-button {
  background-color: #f44336; /* Red, adjust as needed */
}
.left-sidebar {
  padding: 10px 20px;
  border: 1px solid #ccc; /* Visual distinction, adjust as needed */
  height: auto; /* Adjust based on content, or set a max-height */
  overflow-y: auto; /* Adds scroll bar if content exceeds container height */
  word-wrap: break-word; /* Ensures words break to prevent horizontal overflow */
}
