.homepage-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  gap: 20px;
  padding: 20px;
}

.left-sidebar, .right-sidebar {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc; 
  height: auto;
}
.left-sidebar h2, .right-sidebar h2, .left-sidebar h3 {
  text-align: center;
}
.left-sidebar h2 {
  font-size: 40px;
}
.left-sidebar h3 {
  font-size: 25px;
}
.map-container {
  flex-basis: 50.33%; 
  height: 400px; 
}

.ride-request-buttons {
  margin-top: 20px;
  text-align: center;

}

.request-button, .cancel-button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  justify-content: center;
}

.request-button {
  background-color: #4CAF50;
}

.cancel-button {
  background-color: #f44336;
}
.left-sidebar {
  padding: 10px 20px;
  border: 1px solid #ccc; 
  height: auto; 
  overflow-y: auto; 
  word-wrap: break-word; 
}
