.message-center-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.conversation {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.conversation .title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px; 
  margin-bottom: 10px; 
  width: 100%;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
}

.sidebar ul li:hover {
  background-color: #ddd;
}

.title {
  text-align: center;
}

.conversation h2 {
  margin-bottom: 10px;
}

.conversation ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}


.conversation ul .message {
  background-color: #007bff; 
  color: white;
  border-radius: 20px; 
  padding: 10px 15px; 
  margin-bottom: 10px; 
  width: auto;
  margin-left: auto;
  margin-right: 10%;
  text-align: right; 

}

.conversation ul .other-message {
  background-color: #d8d8d8; 
  color: black;
  border-radius: 20px; 
  padding: 10px 15px;
  margin-bottom: 10px; 
  width: auto;
  align-self: flex-start;
  text-align: left; 
}

.conversation ul li:last-child {
  margin-bottom: 0;
}

.message-input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 90%;
}

.message-input input {
  padding: 10px;
  width: calc(100% - 70px); 
  margin-right: 10px;
}

.message-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.separator {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-input button:hover {
  background-color: #0056b3;
}
.message-divider {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
