.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Adjust the alignment as needed */
  background-color: #333;
  color: whiteblack;
  padding: 0 10px; /* Adjust the padding as needed */
  height: 135px; /* Adjust the height as needed */
}




.navbar-logo img {
  width: 300px; /* Adjust the width as needed */
  height: 300px;
  margin-bottom: -123px;
  margin-right: 200px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 100px; /* Adjust the margin as needed */
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-active {
  color: #04c2c9; /* Adjust the highlight color as needed */
}

.welcome-message {
  position: absolute; 
  top: 10px;
  right: 50px;
}